div#osu-Navbar {
  background: none;
  padding: 0px;
  margin: 0px;
  min-height: 1em;
  font-size: 110%;
}

div#osu-NavbarBreadcrumb { padding-left: 0px; }
div#osu-NavbarLinks ul { padding-right: 0px; }

table#osu-Navbar-Table {
  background: #EAEBEB url('/sites/all/files/navbar/osu-navbar-media/img/background_graybar.gif') repeat-x 0% 100%;
  width: 100%;
  height: 100%;
}

table#osu-Navbar-Table,
table#osu-Navbar-Table tr,
table#osu-Navbar-Table tr td {
  border-collapse: collapse;
  border-spacing: 0px;
  border: none;
  margin: 0;
  padding: 0;
}

table#osu-Navbar-Table td#osu-Navbar-Content {
  width: 950px;
}
table#osu-Navbar-Table td#osu-NavbarBreadcrumb-Spacing {
  background: url('/sites/all/files/navbar/osu-navbar-media/img/background_redbar.gif') repeat-x 0% 100% transparent;
}
