.feature.view-id-openstudio .view-header a {
  background: url(../images/openstudio.png) no-repeat right bottom;
}

.front .view-openstudio .view-content .views-row {
  clear: both;
  height: 55px;
}

.view-openstudio .view-content .views-row .views-field-field-blog-image-fid {
  float: left;
  padding-right: 5px;
}

.view-openstudio .view-content .views-row .views-field-title-2 .field-content {
  margin-bottom: 0.6em;
  display: block;
}

.view-openstudio .view-content .views-row .views-field-created .field-content {

}

.view-display-id-page_2 .views-row {
  padding-top: 2em;
  margin-top: 2em;
  border-top: 1px solid #333333;
}

.view-display-id-page_2 .views-row-first {
  padding-top: none;
  margin-top: none;
  border-top: none;
}

.node-type-blog .more-link,
.page-openstudio .more-link {
  font-style: italic;
  margin: 10px 20px 10px 20px;
  padding-left: 1.5em;
  padding-top: 0.5em;
  text-align: left;
  background: url(/sites/all/themes/design/images/menu-separator.png) repeat-x left top;
}


.page-openstudio-archive .sectiontitle-sidebar-top,
.page-openstudio-archive .sectiontitle-sidebar-bottom,
.page-openstudio-archive .sectiontitle {
  display: none;

}

.page-openstudio-archive .views-row-first .sectiontitle-sidebar-top,
.page-openstudio-archive .views-row-first .sectiontitle-sidebar-bottom,
.page-openstudio-archive .views-row-first .sectiontitle {
  display: block;

}
